<div class="bg-light" id="sidebar-wrapper">    
    <div class="menu list-group list-group-flush">

        <AuthorizeView>
            <Authorized>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/employeeoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/employeeedit">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Add new employee
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/usereoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Users
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/usereedit">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Add new user
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/videoeoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Videos
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/videoeedit">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Add new video
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="Logout">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Log out
                </NavLink>
                <div>
                    @context.User.Claims.FirstOrDefault(
                                   b => b.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")?.Value

                    @context.User.Claims.FirstOrDefault(
                                    c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")?.Value
                </div>
            </Authorized>

            <NotAuthorized>
                <a href="Identity/Account/Register">Register</a>
                <a href="Identity/Account/Login">Log in</a>
            </NotAuthorized>
           
        </AuthorizeView>


    </div>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

